@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.top {
  background-image: url("/img/top/top__bg.png");
}

.top__container {
  max-width: 972px;
}

.top__container .top__logo {
  width: 192px;
  height: 123px;
}

.top__container .top__slogan {
  position: relative;
  width: 750px;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 26px;
  line-height: 40px;
  letter-spacing: 0.16em;
  color: #ffffff;
}

.top__container .top__slogan span {
  font-size: 26px;
  font-weight: 900;
  text-transform: uppercase;
}

.top__container .top__slogan::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 43%;
  min-width: 105px;
  border: 1px solid #ffffff;
}

.top__container .top__read-more {
  border: 1px solid #ffffff;
  width: 162px;
  height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top__container .top__read-more .read-more__text {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin: auto;
}

.top__container .top__icon {
  border: 1px solid green;
  width: 17px;
  height: 10px;
}

.top__container {
  margin: 0 auto;
  padding-top: 165px;
}

.top__logo {
  margin: 0 auto;
}

.top__slogan {
  margin: 160px auto 50px auto;
  padding-bottom: 278px;
}

.top__read-more {
  margin: 0 auto 75px auto;
}

.top__icon {
  margin: 0 auto;
}
