@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.top {
  background-image: url("/img/top/top__bg.png");
  background-repeat: no-repeat;
}

.top__container {
  max-width: 972px;
}

.top__container .top__logo {
  width: 192px;
  height: 123px;
}

.top__container .top__slogan {
  position: relative;
  width: 750px;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 26px;
  line-height: 40px;
  letter-spacing: 0.16em;
  color: #ffffff;
}

.top__container .top__slogan span {
  font-size: 26px;
  font-weight: 900;
  text-transform: uppercase;
}

.top__container .top__slogan::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 43%;
  min-width: 105px;
  border: 1px solid #ffffff;
}

.top__container .top__icon {
  width: 17px;
  height: 10px;
}

.title {
  position: relative;
  padding: 0 0 73px 0;
  width: 300px;
}

.title::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 35px;
  left: 35%;
  min-width: 81px;
  border: 1px solid #000000;
}

.title__text {
  font-family: "Lato", sans-serif;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.16em;
  color: #000000;
}

.menu {
  width: 422px;
  height: 12px;
}

.menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.menu__item {
  font-size: 15px;
  line-height: 1.2;
  font-weight: 400;
  color: #3c3c3c;
}

.about__container {
  width: 972px;
}

.about__container .about__text {
  width: 699px;
  height: 66px;
  margin: 0 auto;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
  color: #868585;
}

.about__container .about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 899px;
}

.about__container .about__row .about__column .item-about {
  width: 250px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__container .about__row .about__column .item-about .item-about__icon {
  width: 92px;
  height: 92px;
  border: 1px solid #868585;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__container .about__row .about__column .item-about .item-about__icon img {
  display: block;
  width: 42px;
  height: 32px;
}

.about__container .about__row .about__column .item-about .item-about__title {
  font-family: "Lato", sans-serif;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.16em;
  color: #000000;
}

.about__container .about__row .about__column .item-about .item-about__text {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  color: #868585;
}

.read-more {
  border: 1px solid #ffffff;
  width: 162px;
  height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.read-more .read-more__text {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin: auto;
}

.portfolio {
  background-color: #f3f3f3;
}

.portfolio__container {
  width: 1103px;
}

.portfolio__works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 16px;
}

.portfolio__work {
  width: 538px;
  display: block;
}

.portfolio .read-more {
  border: 1px solid black;
}

.portfolio .read-more .read-more__text {
  color: #000000;
}

.partners {
  background-image: url("/img/partners/partners__bg.png");
  background-repeat: no-repeat;
  background-position: 0 100%;
}

.partners__container {
  width: 550px;
}

.partners__container .partners__title {
  width: 199px;
  font-family: "Lato", sans-serif;
  font-size: 30.4px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.partners__container .partners__firms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__container {
  padding-bottom: 102px;
}

.contact__container .contact__infomation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 83px;
          column-gap: 83px;
  width: 899px;
}

.contact__container .contact__infomation .contact__form-container {
  width: 393px;
}

.contact__container .contact__infomation .contact__form-container .contact__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__container .contact__infomation .contact__form-container .contact__input-name, .contact__container .contact__infomation .contact__form-container .contact__input-email {
  border-top: 1px solid black;
  width: 161px;
  height: 35px;
  background-color: #f8f7f7;
}

.contact__container .contact__infomation .contact__form-container .contact__input-text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: #000000;
}

.contact__container .contact__infomation .contact__form-container .contact__message-field {
  border-top: 1px solid black;
  width: 100%;
  min-height: 118px;
  background-color: #f8f7f7;
}

.contact__container .contact__infomation .contact__form-container .contact__submit-btn {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: #000000;
}

.contact__container .contact__infomation .contact__data {
  width: 252px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  color: #000000;
}

.contact__container .contact__infomation .contact__data .contact__author,
.contact__container .contact__infomation .contact__data .contact__email span {
  font-weight: 700;
}

.contact__container .contact__infomation .contact__data .contact__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-column-gap: 12px;
          column-gap: 12px;
}

.contact__container .contact__infomation .contact__data .contact__icons .contact__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 29px;
  height: 29px;
  border: 2px solid black;
  border-radius: 50px;
}

.footer__container {
  background-color: #3c3c3c;
}

.footer__container .footer__logo {
  width: 122px;
  height: 78px;
}

.footer__container .footer__menu {
  width: 260px;
}

.footer__container .footer__menu .footer__menu-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__container .footer__menu .footer__menu-elements .footer__menue-element {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #a4a4a4;
}

.footer__container .footer__copyrights {
  width: 170px;
  font-family: "Myriad Pro";
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #6c6c6c;
}

.top__container {
  margin: 0 auto;
  padding-top: 165px;
}

.top__logo {
  margin: 0 auto;
}

.top__slogan {
  margin: 160px auto 50px auto;
  padding-bottom: 278px;
}

.top__read-more {
  margin: 0 auto 75px auto;
}

.top__icon {
  margin: 0 auto;
  padding-bottom: 100px;
}

.about__container {
  margin: 0 auto;
}

.about__menu {
  margin: 0 auto;
}

.about .menu {
  margin: 22px auto 0 auto;
}

.about__header {
  margin: 154px 0 0 0;
}

.about__title {
  margin: 0 auto;
}

.about__row {
  margin: 70px auto 0 auto;
}

.portfolio__container {
  margin: 95px auto 0 auto;
  padding-bottom: 62px;
}

.portfolio__header {
  padding: 107px 0 0 0;
  margin: 0 auto;
}

.portfolio__title {
  margin: 0 auto 0 auto;
}

.portfolio__menu {
  margin: 0 auto 136px auto;
}

.portfolio__works {
  margin-bottom: 64px;
}

.portfolio__read-more {
  margin: 0 auto;
}

.partners__container {
  margin: 0 auto 0 auto;
  padding-bottom: 104px;
}

.partners__title {
  margin: 0 auto;
  padding-top: 100px;
}

.partners__firms {
  margin: 93px 0 0 0;
}

.contact__title {
  margin: 183px auto 166px auto;
}

.contact__infomation {
  margin: 0 auto 0 auto;
}

.contact__input-text {
  margin: 0 0 20px 0;
}

.contact__input {
  margin: 0 0 75px 0;
}

.contact__submit {
  margin: 42px 0 0 89%;
}

.contact__text {
  margin: 0 0 15px 0;
}

.contact__icons {
  margin: 20px 0 8px 0;
}

.footer__container {
  padding: 48px 0 49px 0;
}

.footer__logo {
  margin: 0 auto 41px auto;
}

.footer__menu {
  margin: 0 auto 34px auto;
}

.footer__copyrights {
  margin: 0 auto;
}
