@import "nullstyle.scss";
@import "top.scss";
@import "title.scss";
@import "menu.scss";
@import "about.scss";
@import "read-more";
@import "portfolio";
@import "partners";
@import "contact";
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.top {
    &__container {
        margin: 0 auto;
        padding-top: 165px;
    }
    &__logo {
        margin: 0 auto;
    }
    &__slogan {
        margin: 160px auto 50px auto;
        padding-bottom: 278px;
    }
    &__read-more {
        margin: 0 auto 75px auto;
    }
    &__icon {
        margin: 0 auto;
        padding-bottom: 100px;
    }
}

.about {
    &__container {
        margin: 0 auto;
    }
    &__menu {
        margin: 0 auto;
    }
    .menu {
        margin: 22px auto 0 auto;
    }
    &__header {
        margin: 154px 0 0 0;
    }
    &__title {
        margin: 0 auto;
    }
    &__row {
        margin: 70px auto 0 auto;
    }
}

.portfolio {
    &__container {
        margin: 95px auto 0 auto;
        padding-bottom: 62px;
    }
    &__header {
        padding: 107px 0 0 0;
        margin: 0 auto;
    }
    &__title {
        margin: 0 auto 0 auto;
    }
    &__menu {
        margin: 0 auto 136px auto;
    }
    &__works {
        margin-bottom: 64px;
    }
    &__read-more {
        margin: 0 auto;
    }
}

.partners {
    &__container {
        margin: 0 auto 0 auto;
        padding-bottom: 104px;
    }
    &__title {
        margin: 0 auto;
        padding-top: 100px;
    }
    &__firms {
        margin: 93px 0 0 0;
    }
}

.contact {
    &__title {
        margin: 183px auto 166px auto;
    }
    &__infomation {
        margin: 0 auto 0 auto;
    }
    &__input-text {
        margin: 0 0 20px 0;
    }
    &__input {
        margin: 0 0 75px 0;
    }
    &__submit {
        margin: 42px 0 0 89%;
    }
    &__text {
        margin: 0 0 15px 0;
    }
    &__icons {
        margin: 20px 0 8px 0;
    }
}

.footer {
}
.footer__container {
}
.footer__logo {
}
.footer__menue {
}
.footer__copyrights {
}
